name: Release

on:
  push:
    branches: [master, develop]

permissions:
  contents: write

jobs:
  release:
    name: Release
    if: (
      github.repository_owner == 'pvtnbr' && github.ref_name =='develop'
      ) || (
      github.repository_owner == 'privatenumber' && github.ref_name =='master'
      )
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          run_install: true

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Prerelease to GitHub
        if: github.repository_owner == 'pvtnbr'
        run: |
          jq '
              .publishConfig.registry = "https://npm.pkg.github.com"
            | .name = ("@" + env.GITHUB_REPOSITORY_OWNER + "/" + .name)
            | .repository = env.GITHUB_REPOSITORY
            | .release.branches = [
                "master",
                { name: "develop", prerelease: "rc", channel: "latest" }
              ]
            ' package.json > _package.json
          mv _package.json package.json

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm dlx semantic-release
